body {
    --bs-body-bg:    #1B1B1C;
    --bs-body-color: #D7D9E2;
    --bs-body-font-family: "Cormorant Garamond", "EB Garamond", serif;
}

p.h2 {
    font-weight: 400;
    line-height: 140%;
    padding: 0 1.6em;
    text-wrap: balance;
}

.display-1 {
    line-height: 140%;
}

.gallery img {
    object-fit: cover;
    aspect-ratio: 3 / 4;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(25% * 14);
}

.slider {
    margin:   auto;
    overflow: hidden;
    position: relative;
    width:    100%
}

.slider:before, .slider:after {
    background:     linear-gradient(to right, var(--bs-body-bg) 0%, rgba(255, 255, 255, 0) 100%);
    content:        "";
    height:         100%;
    position:       absolute;
    width:          200px;
    z-index:        2;
    pointer-events: none
}

.slider:after {
    right:     0;
    top:       0;
    transform: rotate(180deg)
}

.slider:before {
    left: 0;
    top:  0
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display:   flex;
    width:     3500px
}

.slider .slide {
    min-width: 250px;
    width:     25%;
}


.slide img {
    object-fit: cover;
    aspect-ratio: 3 / 4;
}

.slide:nth-child(2n) img{
    object-fit: cover;
    aspect-ratio: 4 / 4;
}

.portrait {
    height: 100vh;
    max-height: 900px;
    object-fit: cover;
    object-position: bottom;
}
